
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.6;
  /* background-color: #000000; */
}

main{
  height: 100%;
}

.Header{
  width: 100%;
}
.Header-div{
  margin: 32px auto;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
.Header-h1{
  font-size: 80px;
  color: #2d92f0;
  padding: 0 0 32px 0;
}
.Header-nav{
  border-radius: 8%;
  box-shadow: .0625rem .0625rem .5rem #2d92f0;
  padding: 32px;
}
.Header-ul{
  display: flex;
  flex-flow: column nowrap;
  align-content: center;
  text-align: center;
  gap: 32px;
}

.Header-li{
  font-size: 19.2px;
  font-weight: 400;
}

.Footer {
  background-color: #2d92f0;
  color: black;
  text-align: center;
  padding: 0.5rem 0;
  margin-top: 3rem;
}

.Footer-p {
  margin: .62rem 0;
}